.index-popular-positions {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;

    @include media_from('lg') {
		padding-top: 80px;
        padding-bottom: 80px;
	}

	@include media_from('3xl') {
		padding-top: 100px;
        padding-bottom: 100px;
	}

    &__container {
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;

        @include media_from('sm') {
            padding-left: 70px;
            padding-right: 20px;
        }

        @include media_from('md') {
            padding-left: 100px;
            padding-right: 50px;
        }
    
        @include media_from('lg') {
            padding-left: 135px;
            padding-right: 55px;
        }

        @include media_from('xl') {
            padding-left: 80px;
            padding-right: 0px;
        }

        @include media_from('3xl') {
            padding-left: 100px;
        }

        @media (min-width:2100px) {
            padding-left: 0;
        }

        &__header {
            text-align: center;
            margin-bottom: 40px;

            @include media_from('lg') {
                margin-bottom: 60px;
            }
        }
        &__content {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            justify-content: center;
            column-gap: 10px;
            row-gap: 10px;
            margin-bottom: 40px;

            @include media_from('sm') {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 20px;
                row-gap: 20px;
            }

            @include media_from('lg') {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 30px;
                row-gap: 30px;
                margin-bottom: 60px;
            }

            @include media_from('xl') {
                grid-template-columns: repeat(2, 1fr);
                column-gap: 30px;
            }

            @include media_from('2xl') {
                grid-template-columns: repeat(3, 1fr);
                row-gap: 50px;
            }

            @include media_from('3xl') {
                margin-bottom: 80px;
                grid-template-columns: repeat(3, 1fr);
                column-gap: 30px;
                row-gap: 60px;
            }
        }
        &__button {
            margin: 0 auto;
        }
    }
}