.restaurant-systems-main {
    width: 100%;
    padding-bottom: 50px;
    position: relative;

    @include media_from('lg') {
        padding-bottom: 80px;
	}

	@include media_from('3xl') {
        padding-bottom: 100px;
	}

    //Шестеренка
    .gear-wheel-1 {
        position: absolute;
        top: -120px;
        right: 0;
        z-index: -1;
    }

    &__container {
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;

        @include media_from('sm') {
            padding-left: 70px;
            padding-right: 20px;
        }

        @include media_from('md') {
            padding-left: 100px;
            padding-right: 50px;
        }
    
        @include media_from('lg') {
            padding-left: 135px;
            padding-right: 55px;
        }

        @include media_from('xl') {
            padding-left: 80px;
            padding-right: 0px;
        }

        @include media_from('3xl') {
            padding-left: 100px;
        }

        @media (min-width:2100px) {
            padding-left: 0;
        }

        .restaurant-systems-main-bread-crumbs {
            margin-top: 123px;
            @include media_from('lg') {
                margin-top: 130px;
            }
    
            @include media_from('3xl') {
                margin-top: 150px;
            }
        }
        
        &__wrapper {
            &__header {
                margin-bottom: 40px;
        
                @include media_from('lg') {
                    margin-bottom: 60px;
                }
            }

            &__content {
                margin-bottom: 40px;
                @include media_from('lg') {
                    margin-bottom: 60px;
                }
        
                @include media_from('3xl') {
                    margin-bottom: 80px;
                }

                &__top-block {
                    display: flex;
                    flex-direction: column-reverse;
                    margin-bottom: 15px;
                    gap: 15px;

                    @include media_from('lg') {
                        margin-bottom: 20px;
                        gap: 20px;
                    }

                    @include media_from('xl') {
                        flex-direction: row;
                        column-gap: 30px;
                    }

                    @include media_from('3xl') {
                        margin-bottom: 30px;
                    }
                    &__info {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        @include media_from('lg') {
                            gap: 15px;
                        }

                        @include media_from('xl') {
                            width: 50%;
                        }

                        @include media_from('3xl') {
                            gap: 20px;
                        }
                        p {
                            font-size: 0.75rem;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 1.2;
                        }
                    }

                    &__image {
                        width: 100%;

                        @include media_from('xl') {
                            width: 50%;
                        }
                        img {
                            max-width: 100%;
                            height: auto;
                        }
                    }
                }

                &__bottom-block {
                    width: 100%;

                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            &__button {
                margin: 0 auto;
            }
        }
    }
}