.category-main {
    width: 100%;
    padding-bottom: 70px;
    position: relative;

    @include media_from('lg') {
        padding-bottom: 100px;
	}

	@include media_from('3xl') {
        padding-bottom: 120px;
	}

    //Шестеренка
    .gear-wheel-1 {
        position: absolute;
        top: -120px;
        right: 0;
        z-index: -1;
    }

    &__container {
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;

        @include media_from('sm') {
            padding-left: 70px;
            padding-right: 70px;
        }

        @include media_from('md') {
            padding-left: 100px;
            padding-right: 100px;
        }
    
        @include media_from('lg') {
            padding-left: 135px;
            padding-right: 135px;
        }

        @include media_from('xl') {
            padding-left: 0px;
            padding-right: 0px;
        }

        @include media_from('3xl') {
            padding-left: 100px;
        }

        @media (min-width:2100px) {
            padding-left: 0;
        }

        .category-main-bread-crumbs {
            margin-top: 123px;
            @include media_from('lg') {
                margin-top: 130px;
            }
    
            @include media_from('3xl') {
                margin-top: 150px;
            }
        }

        &__wrapper {
            &__header {
                margin-bottom: 40px;

                @include media_from('lg') {
                    margin-bottom: 60px;
                }
            }

            &__top-block {
                width: 100%;
                display: flex;
                flex-direction: column-reverse;
                gap: 30px;
                margin-bottom: 40px;

                @include media_from('lg') {
                    margin-bottom: 60px;
                }
        
                @include media_from('xl') {
                    flex-direction: row;
                    gap: 30px;
                }
       
                @include media_from('3xl') {
                   margin-bottom: 80px;
                }

                &__info {
                    width: 100%;
                    @include media_from('xl') {
                        width: 66%;
                    }
                    b {
                        display: block;
                        font-size: 0.75rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.2;
                        margin-bottom: 40px;

                        @include media_from('lg') {
                            margin-bottom: 60px;
                        }
                    }

                    &__advantages {
                        margin-bottom: 20px;

                        @include media_from('lg') {
                            margin-bottom: 40px;
                        }
                
                        @include media_from('3xl') {
                            margin-bottom: 60px;
                        }
                        h3 {
                            font-size: 1rem;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 1.2;
                            text-transform: uppercase;
                            margin-bottom: 15px;

                            @include media_from('lg') {
                                margin-bottom: 20px;
                            }
                    
                            @include media_from('3xl') {
                                margin-bottom: 30px;
                            }
                        }
                        ul {
                            display: flex;
                            flex-direction: column;
                            list-style: none;
                            gap: 10px;

                            @include media_from('lg') {
                                gap: 15px;
                            }
                    
                            @include media_from('3xl') {
                               gap: 20px;
                            }

                            li {
                                position: relative;
                                list-style: none;
                                font-size: 0.75rem;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 1.2;
                                padding-left: 20px;
        
                                @include media_from('lg') {
                                    padding-left: 22px;
                                }
        
                                &::before {
                                    position: absolute;
                                    content: '';
                                    top: 5px;
                                    left: 0;
                                    width: 8px;
                                    height: 8px;
                                    border-radius: 50%;
                                    background-color: $color-light-blue;
        
                                    @include media_from('lg') {
                                        top: 5px;
                                        left: 0;
                                        width: 10px;
                                        height: 10px;
                                    }
                                }
                            }
                        }
                    }

                    p {
                        font-size: 0.75rem;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 1.2;
                    }
                }

                &__images {
                    align-self: center;
                    width: 100%;
                    max-width: 600px;

                    @include media_from('xl') {
                        align-self: normal;
                        width: 450px;
                        min-width: 450px;
                    }
                    @include media_from('2xl') {
                        width: 500px;
                        min-width: 500px;
                    }
                    @include media_from('3xl') {
                        width: 600px;
                        min-width: 600px;
                    }
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
            }

            &__bottom-block {
                h3 {
                    font-size: 1rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 1.2;
                    text-transform: uppercase;
                    margin-bottom: 40px;

                    @include media_from('lg') {
                        margin-bottom: 60px;
                    }
                }

                ul {
                    display: grid;
                    justify-content: center;
                    grid-template-columns: repeat(2, 1fr);
                    column-gap: 10px;
                    row-gap: 15px;

                    @include media_from('sm') {
                        grid-template-columns: repeat(3, 1fr);
                    }
                    @include media_from('md') {
                        column-gap: 20px;
                        row-gap: 20px;
                    }
                    @include media_from('lg') {
                        column-gap: 30px;
                        row-gap: 20px;
                    }
                    @include media_from('xl') {
                        grid-template-columns: repeat(4, 1fr);
                        justify-content: space-between;
                        column-gap: 30px;
                        row-gap: 20px;
                    }
                    @include media_from('2xl') {
                        grid-template-columns: repeat(5, 1fr);
                        column-gap: 30px;
                        row-gap: 30px;
                    }
                    @include media_from('3xl') {
                        grid-template-columns: repeat(6, 1fr);
                        column-gap: 30px;
                        row-gap: 30px;
                    }

                    li {
                        list-style: none;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        font-size: 0.75rem;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 1.2;
                        background-color: $color-grey;
                        border-radius: 20px;
                        padding: 10px;
                        min-height: 62px;

                        @include media_from('xl') {
                            min-height: 70px;
                        }
                        @include media_from('2xl') {
                            min-height: 75px;
                        }
                    }
                }
            }
        }
    }
}