.article-bottom {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 70px;

    @include media_from('lg') {
		padding-top: 80px;
        padding-bottom: 100px;
	}

	@include media_from('3xl') {
		padding-top: 100px;
        padding-bottom: 120px;
	}

    &__container {
        width: 100%;
        margin: 0 auto;
        padding-left: 10px;
        padding-right: 10px;

        @include media_from('sm') {
            padding-left: 50px;
            padding-right: 50px;
        }

        @include media_from('md') {
            padding-left: 100px;
            padding-right: 100px;
        }
    
        @include media_from('lg') {
            padding-left: 135px;
            padding-right: 135px;
        }

        @include media_from('xl') {
            padding-left: 0px;
            padding-right: 0px;
        }

        &__header {
            font-size: 1rem;
            font-style: normal;
            font-weight: 600;
            line-height: 1.2;
            text-transform: uppercase;
            margin-bottom: 40px;

            @include media_from('lg') {
                margin-bottom: 60px;
            }
        }

        &__content {
            position: relative;
            width: 100%;
        }
    }
}

//Свайпер Другие статьи
.article-bottom-swiper {
    position: static;
    width: 80%;
    height: min-content;

    @include media_from('lg') {
        width: 85%;
    }

    @include media_from('2xl') {
        width: 90%;
    }

    .article-bottom-swiper-wrapper {
        width: 100%;
        height: 100%;

        .article-bottom-swiper-slide {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .slide-content {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 10px;
                cursor: pointer;

                @include media_from('lg') {
                    gap: 16px;
                }

                &__image {
                    width: 100%;
                    height: 150px;

                    @media (min-width: 390px) {
                        height: 180px;
                    }
                    @include media_from('lg') {
                        height: 200px;
                    }
                    @include media_from('2xl') {
                        height: 242px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
                &__text {
                    font-size: 0.75rem;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 1.2;
                    text-transform: uppercase;
                    color: $color-black;
                }
            }
        }
    }
}


.article-bottom-swiper-button-prev {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 50;

    @include media_from('sm') {
        width: 40px;
        height: 40px;
    }

    &:hover {
        opacity: 0.8;
    }

    &:disabled {
        opacity: 0.6;
        cursor: default;
    }

    svg {
        width: 28px;
        height: 28px;

        @include media_from('sm') {
            width: 40px;
            height: 40px;
        }
    }
}
.article-bottom-swiper-button-next {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    width: 28px;
    height: 28px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 50;

    @include media_from('sm') {
        width: 40px;
        height: 40px;
    }

    &:hover {
        opacity: 0.8;
    }

    &:disabled {
        opacity: 0.6;
        cursor: default;
    }
    
    svg {
        width: 28px;
        height: 28px;

        @include media_from('sm') {
            width: 40px;
            height: 40px;
        }
    }
}