<div class="lubrication-systems-list">
    <a class="lubrication-systems-list__item" href="">
      <div class="lubrication-systems-list__item__image">
        <img src="img/lubrication-systems-img-01.png" alt="Фото">
      </div>
      <p class="lubrication-systems-list__item__text">Прогрессивные системы</p>
    </a>
    <a class="lubrication-systems-list__item" href="">
      <div class="lubrication-systems-list__item__image">
        <img src="img/lubrication-systems-img-02.png" alt="Фото">
      </div>
      <p class="lubrication-systems-list__item__text">Двухлинейные системы</p>
    </a>
    <a class="lubrication-systems-list__item" href="">
      <div class="lubrication-systems-list__item__image">
        <img src="img/lubrication-systems-img-03.png" alt="Фото">
      </div>
      <p class="lubrication-systems-list__item__text">Циркуляционные системы</p>
    </a>
    <a class="lubrication-systems-list__item" href="">
      <div class="lubrication-systems-list__item__image">
        <img src="img/lubrication-systems-img-04.png" alt="Фото">
      </div>
      <p class="lubrication-systems-list__item__text">Рельсосмазыватели</p>
    </a>
    <a class="lubrication-systems-list__item" href="">
      <div class="lubrication-systems-list__item__image">
        <img src="img/lubrication-systems-img-05.png" alt="Фото">
      </div>
      <p class="lubrication-systems-list__item__text">Гребнесмазыватели</p>
    </a>
  </div>