$red: #F00714;
$black: #101010;
$gray: #ACACAC;
$lightgray: #EEEEEE;
$white: #FFFFFF;

$color-white: #FCFCFC;
$color-black: #121212;
$color-grey: #F5F5F5;
$color-light-blue: #00A0E3;

$color-hover-link-white: #b9b9b9;
$color-hover-link-black: #8b8b8b;