<select name="catalog-select" class="catalog-select">
  <option value=""></option>
  <option value="lubrication-systems">Системы смазки</option>
  <option value="rail-lubricators">Рельсосмазыватели</option>
  <option value="grebnesmazyvateli">Гребнесмазыватели</option>
  <option value="injection-pumps">Нагнетающие насосы</option>
  <option value="lubrication-system-distributor">Распределители системы смазки</option>
  <option value="connecting-components-lubrication-system">
    Соединительные компоненты системы смазки
  </option>
  <option value="accessories-discharge-pump">Принадлежности к нагнетающим насосам</option>
</select>
